*~
*.log
*.png
*.jar
*.disabled
*.zip
*.swp
usernamecache.json
usercache.json
logs/
resourcepacks/
saves/
screenshots/
mod_sets/
unused_mods/
!mods/resources/ruins
asm/
!mods/ruins.txt
mods/ruins_log.txt
crash-reports/
journeymap/
examplesAndDocs/
dumps/

